#hero-about {
    background: url("imgs/people.png") no-repeat;
    background-color: #e3e3e3;
    height: 100vh;
    width: 100%;
    background-size: 45%;
    background-position: top 100% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero-about h1 {
    color: #248e35;
}

#hero-about h3 {
    display: none;
}

#about {
    background: #f1f1f1;
}

#about h1 {
    text-align: center;
}

@media (max-width: 820px) {
    #hero-about {
        height: 60vh;
        background-size: 70%;
        background-position: top 100% right 0;
        padding: 0 35px;
    }
}

@media (max-width: 600px) {
    #hero-about {
        height: 50vh;
        background-position: top 100% right 50%;
        padding: 0;
        align-items: center;
        justify-content: flex-start;
    }

    #hero-about h1,
    #hero-about h2 {
        display: none;
    }

    #hero-about h3 {
        display: block;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 110px;
    }

    #hero-about h3 span {
        color: #248e35;
    }

    #about p {
        text-align: center;
    }
}